@font-face {
    font-family: "comic";
    src: url("");
  }

  :root {
    --body:comic;
    --gotB:gothamBold;
  }
  
  
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    margin: 0;
    padding: 0;
  }
  
  
  h4 {
    margin: 0;
    padding: 0;
  }
  
  h2 {
    margin: 0;
    padding: 0;
  }
  
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  img {
    width: auto;
    height: auto;
  }